<h1><%= @articles.title %></h1>

<p><%= @articles.body %></p>
<ul>
<%= link_to "Back", articles_path %><br>
<%= link_to "Edit", edit_article_path(@articles) %><br>
<%= link_to "Destroy", articles_path(@articles), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
</ul>
<h2>Add a Comment</h2>
<%= form_with model: [ @articles, @articles.comments.build ] do |form| %>
<p>
	<%= form.label :commenter %>
	<%= form.text_field :commenter %>
</p>
<p>
	<%= form.label :body %>
	<%= form.text_area :body %>
</p>
<p>
	<%= form.submit %>
</p>
<% end %>

                    
                    
                  